<%= form_with(model: promo, local: true) do |form| %>
  <% if promo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promo.errors.count, "error") %> prohibited this promo from being saved:</h2>

      <ul>
      <% promo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container">
    <div class="row">
      <div class="col-md-6"><%= form.label :title, t("Encabezado de la promoción") %></div>
      <div class="col-md-6"><%= form.text_field :title, id: :promo_title %></div>
    </div>

    <div class="row">
      <div class="col-md-6"><%= form.label :imagen, t("Imagen") %></div>
      <div class="col-md-6"><%= form.file_field :imagen, id: :promo_imagen %></div>
    </div>

    <div class="row">
      <div class="col-md-6"><%= form.label :price, t("Precio") %></div>
      <div class="col-md-6"> <%= form.number_field :price, id: :promo_price %></div>
    </div>

    <div class="row">
      <div class="col-md-6"><%= form.label :description, t("Descripción de la promoción") %></div>
      <div class="col-md-6"><%= form.text_area :description, id: :promo_description %></div>
    </div>

    <div class="row">
      <div class="col-md-6"><%= form.label :category_id, t("Categoría") %></div>
      <div class="col-md-6"><%= form.collection_select :category_id, Category.all, :id, :name, include_blank: true %></div>
    </div>
     

     <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6"><%= form.submit %></div>
    </div>
    
    <%= link_to 'Regresar', promos_path %>
  </div>
<% end %>
